html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

p {
	margin: 8px 0px;
}

#header {
	border-bottom: 3px solid black;
	padding: 10px;
	background: #a3ddff;
	text-align: center;
}

#sidebar {
	border-right: 3px solid black;
	padding: 10px;
	background: #99ff80;
	float: left;
	max-width: 150px;
	height: 100%;
	text-align: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 2px solid black;
}

li {
	border-top: 2px solid black;
}

li:first-child {
	border-top: none;
}

li a {
	display: block;
	padding: 10px;
	background: #4dc42f;
	color: white;
}

li a:hover {
	background: #81e66a;
}

li a:active {
	background: #ff584d;
	color: blue;
}

#main {
	padding: 20px;
	padding-top: 15px;
	background: linen;
	height: 100%;
	overflow: scroll;
}

#footer {
	background: #ffcf4a;
	padding: 20px;
	border-top: 3px solid black;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#footer * {
	display: block;
	margin: auto;
}

/* This code block is from antonj's answer to https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	-moz-appearance: textfield;
	/* Firefox */
}

/* This code block ends. */
