body
{
	background-color: linen;
}

h1,p
{
	color: blue;
	text-align: center;
}

a
{
	color: green;
	text-align: center;
	text-decoration: none;
}

/* This code block is from antonj's answer to https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number]
{
	-moz-appearance:textfield; /* Firefox */
}
/* This code block ends. */